version: "3.8"
services:
    db:
        image: postgres:15
        restart: unless-stopped
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 03092002Df
            POSTGRES_DB: fastapi
        volumes:
            - db_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"

    api:
        build: .
        depends_on:
            - db
        ports:
            - "8000:8000"
        volumes:
            - ./:/app:ro    #  mount the current directory so as to reflect code changes without rebuilding the image
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

        environment:
            - DATABASE_HOSTNAME=db
            - DATABASE_PORT=5432
            - DATABASE_PASSWORD=03092002Df
            - DATABASE_NAME=fastapi
            - DATABASE_USERNAME=postgres
            - SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
            - ALGORITHM=HS256
            - ACCESS_TOKEN_EXPIRE_MINUTES=60

volumes:
    db_data:
